<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ site.title | escape }} &#x1F60E;</title>
  <meta name="description" content="{{ page.description | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">

  <link href="{{ site.baseurl }}/assets/docs-{{ site.primer_version }}.css" rel="stylesheet">
  <link href="{{ site.baseurl }}/assets/main.css" rel="stylesheet">

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">

  <link rel="icon" type="image/png" href="{{ site.baseurl }}/assets/favicon.png" />

  {% seo %}
</head>
